body {
background-color: skyblue;
}


.password-desplay {
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    width: 350px;
    height: 2rem;
    padding: 2rem;
    border: 1px solid navy;
    margin: 25px;
    word-break: break-all;
    border-radius: .5rem;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

button {
    border: 1px solid black;
    position: relative;
    left: 10px;
    border-radius: .5rem;
    background-color: transparent;
   cursor: pointer;
}
button:hover {
    background-color:red;
}
   